/*General*/

/*Nav*/

nav {
	padding-bottom: 0!important;
	padding-top: 0!important;
}

#unscrolled {

}

#scrolled {
	background-color: black;
}

#unscrolled .container {
	border-bottom: solid 2px white;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	transition: padding 0.5s ease;
}

#scrolled .container {
	padding-top: 1.2%;
	padding-bottom: 1.2%;
	transition: padding 0.5s ease;
}

nav a {
	color: white;
	font-size: 1.1rem;
}

nav li {
	display: inline-block;
}


/*Hero*/ 

#hero {
	background-color: skyblue;
	text-align: center;
	height: 60vw;
	margin: 0;
}

#hero .container {
	margin-top: 4vw;
}


/*About Us*/

#about {
	margin: 0;
	text-align: center;
	background: #faaaaa;
}

/*Layout*/

#services {
	background-color: #f2f2f2;
	width: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0;
}

.fa {
	font-size: 2rem;
}

.container {
	text-align: center;
}

#services .col-sm {
	border: solid 1px black;
	border-radius: 2px;
	margin-left: 2%;
	background-color: white;
}

#services .col-sm:last-child {
	margin-right: 2%;
}

/*Form*/

form input {
	display: block;
}

/*Footer*/

footer {
	background-color: black;
	color: white;
}