/*General*/

body {
	color: #FEFEFC;
}

/*Nav*/

nav {
	padding-bottom: 0!important;
	padding-top: 0!important;
}

#unscrolled {

}

#scrolled {
	background-color: #0b0100;
}

#unscrolled .container {
	border-bottom: solid 1px #f2f2f2;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	transition: padding 0.5s ease;
}

#scrolled .container {
	padding-top: .5%;
	padding-bottom: .5%;
	transition: padding 0.5s ease;
}

nav a {
	color: #fefefc;
	font-size: 1.1rem;
}

nav li {
	display: inline-block;
}


/*Hero*/


#hero {
	position: relative;
	z-index: 0;
	background-color: black;
	text-align: center;
	height: 100vh;
	margin: 0;
	color: white;
}

#hero .container {
	margin-top: 13vh;

}

/*Hero Video*/

#video-background {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%; /*Console View*/
    z-index: -100;
    width: 100%;
}

#video-overlay {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    background-color: rgba(0,0,0,.6);
}

/*About Us*/

#about {
	margin: 0;
	text-align: center;
	background: #EF3237;
	z-index: 0;
}

/*Layout*/

#services {
	background-color: #f3f3f3;
	color: #000;
	width: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0;
}

#services h2 {
	margin-bottom: 3%;
}

.fa {
	font-size: 2rem;
}

.container {
	text-align: center;
}

#services .col-sm {
	/*border: solid 1px #001;*/
	border-radius: 2px;
	margin-left: 2%;
	padding: 3%;
	background-color: #fff;
}

#services i {
	font-size: 2.5rem;
	margin-bottom: 7%;
}

#services .col-sm h4 {
	margin-bottom: 5%;
}

#services .col-sm:last-child {
	margin-right: 2%;
}

#services .btn {
	background-color: #EF3237;
	color: #fff;
	border-radius: 0;
}

/*Form*/

form input {
	display: block;
}

/*Footer*/

footer {
	background-color: black;
	color: white;
}
 